---
import logo from '../../assets/logo.png'
---


<div class="navbar">
    <img src={logo.src} alt="aquiesta.us logo"/>
    <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Inicio</a></li>
    </ul>
</div>

<style>
.navbar{
    height: 100px;
    width: 100vw;
    background-color: #171717;
    position: fixed;
    top: 0;
}


.navbar > img{
    height: 80px;
    width: 220px;
}
</style>