---
import anuncio1 from '../../assets/anuncio1.avif'
import anuncio2 from '../../assets/anuncio2.avif'
import anuncio3 from '../../assets/anuncio3.avif'
---

<section class="anuncios">
    <div class="anuncio">
        <img src={anuncio1.src}/>
        <a href="#">PUBLICA TU RESTAURANTE</a>
    </div>
    <div class="anuncio">
        <img src={anuncio2.src}/>
        <a href="#">PUBLICA TU RESTAURANTE</a>
    </div>
    <div class="anuncio">
        <img src={anuncio3.src}/>
        <a href="#">PUBLICA TU RESTAURANTE</a>
    </div>
</section>


<style>
    .anuncios{
        padding: 2rem 0;
        height: 80vh;
        max-width: 100vw;
        font-family:var(--familjen);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .anuncio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .anuncio > img{
        height: 433px;
        width: auto;
    }

    .anuncio > a{
        color: black;
        font-weight: bold;
        font-size: 1.4rem;
        margin: 2rem 0;
    }
</style>