
<div class="sobreNosotros">
    <h5>SOBRE AQUIESTA.US</h5>
    <p>Destaca tu marca en <span class="bold">aquiesta.us</span>, la plataforma local de Georgia diseñada para conectar negocios con clientes en busca de tus servicios. Con espacios publicitarios estratégicamente ubicados, atrae más clientes y mejora tu visibilidad en línea. ¡Haz crecer tu negocio hoy con la publicidad que realmente funciona!</p>
    <a href="#">¡Llámanos hoy!</a>
</div>

<style>
    
    .sobreNosotros{
        height: auto;
        max-width: 100vw;
        padding: 2rem 3rem;
        font-family: var(--familjen);
    }

    .sobreNosotros > h5{
        font-size: 1.5rem;
    }

    .sobreNosotros > p {
        margin: 3rem 0;
        width: 80%;
        font-weight: 300;
        font-size: 3.4rem;
        line-height: 1.3;
    }

    .bold{
        font-weight: bold;
    }

    .sobreNosotros > a{
        color: white;
        background-color: #0200dd;
        padding: 0.8rem 2rem;
        border-radius: 40px;
        text-decoration: none;
        transition: background-color ease 0.2s;
    }

    .sobreNosotros > a:hover{
        background-color: #171717;
    }
</style>